<h1><%= @msg %></h1>
<%= form_for(@event, url: {action: 'update_event', id: @data.eventid}) do |f| %>
<h2>Event</h2>
<p>
  <% @event.name = @data.event %>
  <%= f.text_field   :name %>
</p>
<p>
  <% idoltype = {'プロデュースアイドル（ガチャ非依存）': 'idol',
                 'プロデュースアイドル（ガチャ依存）': 'pidol',
                 'サポートアイドル': 'sidol' } %>
  <% if @data.idoltype == 'idol' then %>
  <%= f.select :model, idoltype,
               :selected => 'idol',
               :disabled => ['pidol','sidol']
   %>
  <% else %>
  <%= f.select :model, idoltype,
               :disabled => ['pidol','sidol']
   %>
  <% end %>
</p>
<p>
  <% idolname = Hash.new %>
  <% selectedidol = Hash.new %>
  <% @idollist.each do |i| %>
    <% idolname[i.name] = i.id %>
    <% if (i.name == @data.idol) then %>
    <%   selectedidol[:selected] = i.id %>
    <% end %>
  <% end %>
  <%= f.select :modelid, idolname, selectedidol %>
</p>
<p>
  <%= f.submit "eventを更新してリストに戻る" %>
</p>
<% end %>
<p>
  <a href="/event_list">リストに戻る（変更破棄）</a>
</p>
<p>
  <a href="/event_list/delete_event/<%= @data.eventid %>">delete event</a>
</p>
