<h1><%= @msg %></h1>
<%= form_for(@event, url: {action: 'update_event', id: @data.eventid}) do |f| %>
<h2>Event</h2>
<p>
  <% @event.name = @data.event %>
  <%= f.text_field   :name %>
</p>
<script>
var showIdolList = function(){
  var l = ['idol','pidol']
  t=document.getElementById('event_list_model').selectedOptions[0].value;
  console.log(t);
  window.location.href='/event_list/edit_event/<%= @data.eventid %>?model='+t;
}
</script>
<p onChange="showIdolList()">
  <% idoltype = {'プロデュースアイドル（ガチャ非依存）': 'idol',
                 'プロデュースアイドル（ガチャ依存）': 'pidol',
                 'サポートアイドル': 'sidol' } %>
  <%= f.select :model, idoltype,
               :selected => @data.idoltype,
               :disabled => ['sidol']
   %>
</a></p>
<p>
  <%=  render :partial => 'layouts/idol_list',
              :locals => { :list => @idollist,
                           :realname => @realname,
                           :selected => @data.idolid,
                           :form => f } %>
</p>
<p>
  <%= f.submit "eventを更新してリストに戻る" %>
</p>
<% end %>
<p>
  <a href="/event_list">リストに戻る（変更破棄）</a>
</p>
<p>
  <a href="/event_list/delete_event/<%= @data.eventid %>">delete event</a>
</p>
