<h1><%= @msg %></h1>
<%= form_for(@pidol, url: {action: 'update', id: @data.pidolid}) do |f| %>
<h2>Idol</h2>
<p>プロデュースアイドル肩書</p>
<p>
  <% @pidol.name = @data.prefix %>
  <%= f.text_field :name %>
</p>
<p>アイドル選択</p>
<p>
  <% idolname = Hash.new %>
  <% selectedidol = Hash.new %>
  <% @idollist.each do |i| %>
    <% idolname[i.name] = i.id %>
    <% if (i.id == @data.idolid) then %>
    <%   selectedidol[:selected] = i.id %>
    <% end %>
  <% end %>
  <%= f.select :modelid, idolname, selectedidol %>
</p>
<p>
  <%= f.submit "プロデュースアイドルを登録・更新してリストに戻る" %>
</p>
<% end %>
<p>
  <a href="/pidol">リストに戻る（変更破棄）</a>
</p>
<p>
  <a href="/pidol/delete/<%= @data.pidolid %>">delete produce idol</a>
</p>
