<h1><%= @msg %></h1>
<table>
  <tr>
    <th>Idol</th>
    <th>Prefix</th>
    <th>Real Name</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.name %></td>
    <td><a href=/pidol/edit/<%= obj.pidolid %>><%= obj.prefix %></a></td>
    <td><%= obj.realname %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><a href=/pidol/edit/0>(新規プロデュースアイドルを追加)</a></td>
    <td></td>
  </tr>
</table>
